.search {
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 12px 20px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        padding: 7px 14px;
        width: 380px;
    }
    @media(max-width: 575px) {
        width: 300px;
    }
    @media (max-width: 450px) {
        width: 190px;
    }
    
    input {
        border: none;
        outline: none;
        background-color: #EAEAEA;
    }
        
   
    &__iconclosed {
        width: 22px;
        height: 22px;
        opacity: 0.3;
        left: 100px;
        top: 12px;
        cursor: pointer;
        &:hover {
            opacity: 1.2;
        }
    }

}